name: mirrorchyan_uploading

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Build and Release"]
    types:
      - completed

jobs:
  mirrorchyan:
    runs-on: macos-latest
    if: ${{ github.repository_owner == 'OneDragon-Anything' && github.event.workflow_run.event != 'pull_request' && (github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch') }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - arch: x86_64
            type: WithRuntime
          - arch: ''
            type: Full-Environment
    steps:
      - uses: MirrorChyan/uploading-action@v1
        with:
          filetype: latest-release
          filename: ${{ format('ZenlessZoneZero-OneDragon-*-{0}*', matrix.type) }}
          mirrorchyan_rid: ZZZ-OneDragon

          arch: ${{ matrix.arch }}

          owner: OneDragon-Anything
          repo: ZenlessZoneZero-OneDragon
          github_token: ${{ secrets.GITHUB_TOKEN }}
          upload_token: ${{ secrets.MirrorChyanUploadToken }}
